#monitor{
			border:1px solid gray;
			position: relative;
			width: 100%;
			overflow:hidden; 
			margin-top: 15px;
			margin-bottom: 50px;
		}

#showAlertInfo{
	 position: absolute;
    width: 300px;
    z-index: 100;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -150px;
    text-align: center;
}
   
		#monitor .div_left{
			border-right:1px solid gray;
			float:left;
			width: 18%;
			height: 1050px;
		}
		#monitor .div_left .title{
			text-align: center;
			height: 34px;
			line-height: 34px;
			font-size: 20px;
		}
		#monitor .div_left .container{
			height:700px;
			overflow:auto;
		}

		/* 中间屏幕操作部分 */
		#monitor .div_mid{
			border-right:1px solid gray;
			float:left;
			width: 67%;
			padding: 20px;
		    font-size: 14px;	
		    height: 1050px;
		}
		#monitor .div_mid .title{
 			height: 34px;
    		line-height: 34px;
		}
		#monitor .div_mid .title button{
			float: right;
			padding-left: 0px;
		}
		#monitor .div_mid .screen{
			border:1px solid gray;
			width: 100%;
			margin-top:10px;
			min-height: 450px;
			height: 450px;
			overflow: hidden;
		}
		#monitor .div_mid .screen .div_img{
		    width: 100%;
    		height: 100%;
			/* height: 220px;
			position: relative;
			top:50%;
			margin-top: -110px; */

		}
		#monitor .div_mid .screen .div_img img{
		    width: 100%;
    		height: 100%;
		}
		#monitor .div_mid .btBox{
		    margin-top: 10px;
    		position: relative;
    		overflow: hidden;
		}
		#monitor .div_mid .btBox .btn_voice  {
			float: left;
		}
		#monitor .div_mid .btBox .bt_voicen_num{
			float: left;
		}

			/* 音量控制调音样式 */
			.grade_warp{width:450;float: left;margin-left: 10px;}
			.User_grade{width:100%;}
			 .User_ratings {overflow: hidden;}
			.User_ratings .ratings_title{width:815px;height:78px;font-family:"微软雅黑","宋体";font-size:24px;color:#aaaaaa;}
			.User_ratings .ratings_title01{width:407px;height:auto;font-family:"微软雅黑","宋体";font-size:14px;color:#aaaaaa;}
			.User_ratings .ratings_bars{width:407px;height:34px;padding-top: 5px;}
			.User_ratings .ratings_bars #title0{width:25px;height:25px;text-align:center;border:1px solid #bfbebe;line-height:25px;font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;float:left;color:#a0a0a0;margin-right:10px;background:#fff;}
			.User_ratings .ratings_bars .bars_10{font-family:Georgia, "Times New Roman", Times, serif;font-size:18px;line-height:25px;float:left;color:#a0a0a0;}
			.User_ratings .ratings_bars .scale{width:299px;height:13px;float:left;margin:7px 10px auto 10px;position:relative;background:url(../../images/terminal/progress02.png) 0 0 no-repeat;}
			.User_ratings .ratings_bars .scale div{width:0px;position:absolute;width:0;left:0;height:13px;bottom:0;background:url(../../images/terminal/progress02.png) 0 -14px no-repeat;}
			.User_ratings .ratings_bars .scale span{width:10px;height:26px;position:absolute;left:-2px;top:-7px;cursor:pointer;background:url(../../images/terminal/j.png) no-repeat;}


		#monitor .div_mid .btBox .bt_nomal{
			float:right;
		}

		/*重写bootstrap模态框*/
		.warning .modal{
		    position: fixed;
		    top: 50%;
		    right: 50%;
		    left:initial;
		    bottom: initial;
		    margin-top: -150px;
		    margin-right: -150px;
	        width: 300px;
	        text-align: center;
		}

		.warning  .modal .modal-dialog{
			width: 100%;
		}
		.warning  .modal .modal-content{
			width: 300px;
			height: 300px;
		}
		.warning  .modal .modal-footer{
			position: absolute;
		    bottom: 0px;
		    left: 30%;
		}

		#monitor .div_mid .staticinfo{
			position: relative;
			margin-top: 10px;
			overflow: hidden;
		}

		#monitor .div_mid .staticinfo .terminal_info{
			position: relative;
			overflow: hidden;
		}
		#monitor .div_mid .staticinfo .terminal{
			float: left;
		}
		#monitor .div_mid .staticinfo .terminal span{
			height: 34px;
			line-height: 34px;
			font-size: 14px;
		}
		#monitor .div_mid .staticinfo .terminal_status{
			float: right;
		}
		#monitor .div_mid .staticinfo .terminal_status span{
			height: 34px;
			line-height: 34px;
			font-size: 14px;
		}
		#monitor .div_mid .staticinfo .terminal_worktime{
			overflow: hidden;
		}
		#monitor .div_mid .staticinfo .terminal_worktime ul{
			 position: relative;
   			 top: -20px;
			list-style-type: none;	
			overflow: hidden;
		}
		#monitor .div_mid .staticinfo .terminal_worktime li{
			float:left;
			margin-left: 30px;
		}

		#monitor .div_mid .fixedScreen{
			width: 100%;
			position: relative;
		}
		#monitor .div_mid .fixedScreen .div_findmore{
			width: 100%;
			overflow: hidden;
		}
		#monitor .div_mid .fixedScreen .div_findmore a{
			float: right;
		}
		#monitor .div_mid .fixedScreen #four_flash .but img{
		    width: 30px;
		    position: relative;
		    top: 20px;
		}


		#four_flash{position:relative;width:100%;height:400px; margin:0 auto; margin-top:5px;}
		#four_flash .flashBg{width:100%;height:400px;position:relative;overflow:hidden;}
		#four_flash .flashBg ul.mobile{width:2000%;height:400px; position:absolute;top:15; left:0;margin-left:0px;padding-left:0px;}
		#four_flash .flashBg ul.mobile li{border:2px solid #2E324B;float:left;width: 168px;padding-top:40px;color:#6C6E85;  height: 200px;}
		#four_flash .flashBg ul.mobile li:hover{border:3px solid #343851; color:#fff;}
		#four_flash .flashBg ul.mobile li img{width:140px;height:140px;display:block; margin:0 auto;border:5px solid #343851;}
		#four_flash .flashBg ul.mobile li a:hover{background:url(../images/jiantou2.png);}
		#four_flash .but_left{width:50px;height:100px;position:absolute;   top: 50px; z-index: 9999;}
		#four_flash .but_right{width:50px;height:100px;  position: absolute;  top: 50px;  right: -20px;}
		#four_flash .but_left:hover{background:url(../images/qianxleft1.png) no-repeat;}
		#four_flash .but_right:hover{background:url(../images/qianxr1.png) no-repeat;}

		/* 右边显示节目，内存部分 */
		#monitor .div_right{
			float:right;
			width: 15%;
			font-size: 15px;
			position: relative;
			height: 1050px;
		}

		#monitor .div_right .program .title {
			margin-top: 5px;
			text-align: center;
			height: 35px;
			line-height: 35px;
		}
		#monitor .div_right .program .title button{
			position: relative;
		    float: right;
		    margin-right: 5px;
		    margin-top: 2px;
		}
		    
		#monitor .div_right .div_programlist{
		    margin-top: 20px;	
		}
		#monitor .div_right .div_programlist hr{
		    margin-top: 0px;
    		margin-bottom: 0px;
		}
		#monitor .div_right .div_programlist ul{
		    list-style-type: none;
		    margin: 0px;
		    padding: 0px;
		}
		
		#monitor .div_right .div_programlist ul>li{
			height: 30px;
  		  line-height: 30px;
  		  position: relative;
		}
		#monitor .div_right .div_programlist ul>li  .div_program{
			width:80%;
			height: 38px;
			line-height: 38px;
		}
		#monitor .div_right .div_programlist ul>li .div_program span{
		  	display:block;
		  	width:100%;
		  	text-overflow:ellipsis;
		  	white-space:nowrap;
		  	overflow:hidden;
		
		}
		#monitor .div_right .div_programlist ul>li  button.delpro{
			display: none;
			position: absolute;
			right:0px;
			top:0px;
		}
		#monitor .div_right .div_programlist ul>li:hover{
			background-color: #F2F2F2
		}

		#monitor .div_right .div_programlist ul>li:hover .delpro{
			display:block;
		} 

		#monitor .div_right .memery{
			border-top:1px solid gray;
			margin-top: 50px;
			width: 100%;
			position: absolute;
  		  	bottom: 0px;
  		  	padding-left: 5px;
		}
		#monitor .div_right .memery dl{
			 padding-top: 20px;
		}
		
  
		#monitor .div_right .memery dt{
			margin-top:5px;
			overflow: hidden;
		    height: 34px;
		    line-height: 34px;
		}

		    
		#monitor .div_right .memery dt button{
			float: right;
			margin-right: 5px;
		}
		#monitor .div_right .memery dd{
			height: 34px;
		}
		#monitor .div_right .memery dd.occupation{

		}
		#monitor .div_right .memery dd.remain{

		}
		/*终端列表显示样式，不能动*/
		#monitor .container{width:100%;margin:auto;padding-left:0px;padding-right:0px;}
		#monitor  .leftsidebar_box{width:100%;height:auto !important;overflow:visible !important;position:relative;background-color:#F2F2F2;}
		#monitor  .line{height:2px;width:100%;background-image:url(images/left/line_bg.png);background-repeat:repeat-x;}
		#monitor  .leftsidebar_box dt{
		    background-color: rgb(242, 242, 242);
		    margin: 0;
		    padding: 0;
		    text-align: center;
			background-repeat:no-repeat;
			background-position:10px center;
			font-size:14px;
			position:relative;
			line-height:48px;
			cursor:pointer;}
		#monitor  .leftsidebar_box dd{
			background-color:white;    
			text-align: center;
		    margin: 0;
		    padding: 0;
		    width: 150px;
		    margin: 0 auto;
		}
		#monitor  .leftsidebar_box dd a{line-height:20px;}
		#monitor  .leftsidebar_box dt img{position:absolute;right:10px;top:20px;margin-left: 15px;}
		#monitor  .leftsidebar_box dl dd:last-child{padding-bottom:10px;}
		body.modal-open{
			padding-right:0px;
		}
