/* 终端设置-截屏时间样式 */
 .screenShootSettings{

	position: relative;
	margin: 0 auto;
	width: 95%;
	
}
 .screenShootSettings .head{
 	border: 1px solid #eee;
	position: relative;
    padding: 10px 5px;
}
 .screenShootSettings .head .head_switch{
 	position: absolute;
 	right: 5px;
    top: 50%;
    margin-top: -17px;
 }
 .screenShootSettings .head>span{
    font-size: 14px;
    font-weight: 400;
     height: 34px;
    line-height: 34px;
}
 .screenShootSettings .screen_times{
	border: 1px solid #eee;
    width: 100%;
	position: relative;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
 .screenShootSettings .screen_times .form-group{
	overflow: hidden;
}
.main  .screenShootSettings .screen_times ul li label{
	height: 34px;
	line-height: 34px;
}
