/*终端设置-定时开关样式*/
 .on_off_mode_settings{
	position: relative;
	margin: 0 auto;
	width: 95%;
	font-size: 14px;
}
 .on_off_mode_settings .head{
	position: relative;
	border: 1px solid #eee;
	padding-left: 5px;
	padding-top: 10px;
    padding-bottom: 10px;
}

.on_off_mode_settings .head .form-group{
	 position: relative;
    height: 35px;
    overflow: hidden;
    line-height: 34px;
}
.on_off_mode_settings .head .div_select{
   float: right;
  margin-right: 5px;
}


.on_off_mode_settings .head select{
	display: inline-block;
	text-align: center;
    width: 150px;
}
.on_off_mode_settings .times{
	margin-top: 10px;
	border: 1px solid #eee;
}
.on_off_mode_settings .times .form-group{
	overflow: hidden;
}
.on_off_mode_settings .times ul{
	margin: 0px;
    padding: 0px;
}
.on_off_mode_settings .times .week ul{
	overflow: hidden;
}
.on_off_mode_settings .times .week ul li{
	float: left;
}

.on_off_mode_settings .times .timeSwitch ul li label{
	height: 34px;
	line-height: 34px;
	text-align: center;
}

/*每天定时模式*/
.on_off_mode_settings .times .timeSwitch{
	margin-top:10px;
}
/*星期模式*/
.on_off_mode_settings #weekMode>ul{
	margin-top: 10px;
}
#weekMode .tab-content .timeSwitch{
	margin-top: 10px;
}