
.div_top{
	margin-top: 2%;
}
.nav, .breadcrumb {
	margin-bottom: 0px;
}
.nav-tabs {
	border-bottom: 0px;
}
.div_bottom{
   	border-bottom: 1px solid #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li.active>a:hover{
	border: 0px;
	border-bottom: 5px solid #08C;
}
